# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
storybook-static/
build/
node_modules/
dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log

# Playwright
tests/__screenshots__/
tests/screenshots-baseline/
tests/visual.spec.ts-snapshots/
test-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/



